apiVersion: apps/v1
kind: Deployment
metadata:
  name: cloudnorth-backend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: cloudnorth-backend
  template:
    metadata:
      labels:
        app: cloudnorth-backend
    spec:
      containers:
        - name: backend
          image: bettym72/cloudnorth-backend:latest
          ports:
            - containerPort: 3001
          livenessProbe:
            httpGet:
              path: /health
              port: 3001
            initialDelaySeconds: 5
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /health
              port: 3001
            initialDelaySeconds: 3
            periodSeconds: 5
